button {
  padding: 2px;
  background-color: aliceblue;
  color: indigo;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: indigo;
  color: aliceblue;
  /* margin-left: 2em; */
}

.card-container {
    height: 100vh;
    width: 100vw;
}
.menu-container {
  display: none;
}
.menu-container.expanded {
  display: block;
}
